html, body, #root {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.countDown {
    font-size: 1.5em;
    height: fit-content;
    font-family: Lobster, cursive;
    text-align: center;
    z-index: 1000;
    align-self: flex-start;
}

.countDown .numbers {
    font-family: "Lobster Monospace", monospace;
}

.letters {
    font-size: 2.8em;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: Chawp, monospace;
    z-index: 0;
    user-select: none;
}

@media (min-width: 320px) {
    .countDown {
        font-size: 2.3em;
    }

    .letters {
        font-size: 3.8em;
    }
}

@media (min-width: 425px) {
    .countDown {
        font-size: 2.5em;
    }

    .letters {
        font-size: 5em;
        align-items: center;
    }
}

@media (min-width: 750px) {
    .countDown {
        font-size: 3.2em;
    }

    .letters {
        font-size: 10em;
        align-items: center;
    }
}

@media (min-width: 1100px) {
    .countDown {
        font-size: 3.5em;
    }

    .letters {
        font-size: 15em;
    }
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Chelsea Market", cursive;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 0;
}

footer a:link {
    font-weight: 600;
    color: #36b1bf;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer a:visited {
    font-weight: normal;
    color: #36b1bf;
    text-decoration: none;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer a:hover {
    font-weight: bold;
    color: #4ad9d9;
    text-decoration: underline;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

footer a:active {
    font-weight: bolder;
    color: #ffcb05;
    text-decoration: underline;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.react-cookie-law-select-pane {
    display: none !important;
}

.react-cookie-law-dialog {
    top: unset !important;
    bottom: 50px !important;
    left: 0 !important;
    position: fixed !important;
    z-index: 9999999 !important;
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding: 5px !important;
}

@media (min-width: 331px) {
    .react-cookie-law-dialog {
        bottom: 30px !important;
    }
}

@font-face {
    font-family: 'Lobster';
    src: local('Lobster'), url("./fonts/Lobster-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Lobster Monospace';
    src: local('Lobster Monospace'), url("./fonts/Lobster-Regular-Monospace.ttf") format('truetype');
}

@font-face {
    font-family: 'Chelsea Market';
    src: local('Chelsea Market'), url("./fonts/ChelseaMarket-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Chawp';
    src: local('Chawp'), url("./fonts/chawp.regular.ttf") format('truetype');
}